<form class="edit-form__items" method="post" action="/edit/<%= @memo.id %>">
  <input hidden name="_method" value="PATCH">
  <input hidden name="id" value="<%= @memo.id %>">
  <div class="edit-form__item">
    <label class="edit-form__label">題名</label>
    <input class="edit-form__title" type="text" name="title" value="<%= @memo.title %>">
  </div>
  <div class="edit-form__item">
    <label class="edit-form__label">メモ</label>
    <textarea class="edit-form__content" name="content"><%= @memo.content %></textarea>
  </div>
  <div class="edit-form__item">
    <label class="edit-form__label"></label>
    <div class="edit-form__actions">
      <a class="edit-form__cancel" name="<%= @memo.id %>" href="/show/<%= @memo.id %>">キャンセル</a>
      <input class="edit-form__submit" type="submit" value="保存">
    </div>
  </div>
</form>
